body {
    background-color: black;
    color: white;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70vmin;
}

header {
  font-size: 4vh;
  margin: 0px 0px 0px 0px;
  margin-top: 2vh;
}

footer {
  color: white;
	font-style: italic;
	font-size: 2vh;
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
}
